.text-center{
    text-align: center;
  }
  body{
    font-family: 'Montserrat', sans-serif;
    background: #000001;
  }
  .container
  {
    background-color: #150050;
    width: 25%;
    border-radius: .3em;
  }
  .bg-red{
    background: red;
  }
  .button
  {
    background: #FB2576;
  }
  .button:hover
  {
    border-color:#22A39F;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }